<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
   integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<!--Main container-->
<div class="container" id="main-container">
   <!-- for printing (hidden)-->
   <div
      class="col-xl-1 col-lg-1 col-md-2 col-sm-3 col-4 rounded-circle bg-light-pink bg-gradient shadow d-none d-print-block"
      id="logo">
      <a class="navbar-brand" href="#">
         <img src="./assets/logoAppAssMat.png" class="img-fluid ml-2" />
      </a>
   </div>
   <div class="row justify-content-center mb-3" id="list-children-title">
      <h2 class="col-6 shadow d-none d-print-block font-italic rounded-pill text-center">Liste des Enfants Accueillis
      </h2>
   </div>
   <!-- for printing (hidden) end-->
   <div class="row px-5">
      <div class="row d-print-none d-flex pr-0 pb-4 pt-1 justify-content-center align-items-start">
         <!-- Form search child-->
         <div class="col-8 col-sm-7 col-md-5 col-lg-3 col-xl-3 d-inline-block mt-2 mr-md-3 mr-lg-5 mr-xl-0 pr-0">
            <form class="form-inline">
               <input type="search" 
                  (ngModelChange)="this.searchChild(searchChildForm.value)" 
                  ngModel name="searchChildForm"
                  id="searchChild" 
                  class="form-control bg-white-smoke shadow" 
                  style="font-family:Arial, FontAwesome"
                  placeholder="&#xF002;  Rechercher un Enfant" 
                  pattern ="[a-z A-Z]{1,30}" 
                  #searchChildForm="ngModel" 
                  [ngClass]="{'is-invalid' : searchChildForm?.dirty
                            && !searchChildForm?.valid,
                           'is-valid'  : searchChildForm?.dirty && searchChildForm?.valid
                           }"/>
              
               <div *ngIf="searchChildForm?.hasError('pattern')" 
                  class="invalid-feedback d-flex pl-1">
                  <span>Uniquement des lettres et maximum 30 caractères</span>
               </div>
            </form>
         </div>
         <!-- Form search end child-->

         <button type="button" 
            class="btn col-2 col-md-1 col-lg-1 pl-3 pl-md-0 d-flex justify-content-lg-end pr-lg-1"
            data-bs-toggle="modal" data-bs-target="#summaryModal">
            <span *ngIf="children" class="material-icons color-pink fs-2 p-2 shadow rounded bg-white-smoke"
               data-md-tooltip="Rapport Annuel">summarize</span>
         </button>
         <button
            class="btn col-2 col-md-1 col-lg-1 justify-content-end pl-0 pr-md-0 text-secondary d-flex justify-content-lg-start"
            printTitle="Listes Enfants" 
            [useExistingCss]="true" printSectionId="main-container" ngxPrint>
            <span class="material-icons fs-2 p-2 shadow rounded text-secondary bg-white-smoke"
               data-md-tooltip="Imprimer">print</span>
         </button>
      </div>
      <div *ngFor="let child of children | paginate: { itemsPerPage: 8, currentPage: page }" class="col-md-6 col-xl-3 mb-4">
         <div class="card m-b-30 shadow rounded " id="content">
            <div class="col-12 d-print-none">
               <span (click)="onOpenModel(child,'addMonthly')"
                  class="material-icons color-pink fs-3 pt-1 float-right" 
                  data-md-tooltip="Déclaration Mensuelle"
                  id="AddMonthly" name="AddMonthly">post_add</span>
            </div>
            <div class="card-body row " id="card-body">
               <div class="col-6 ">
                  <a href="/monthly"><img src={{child?.imageUrl}} alt="image de profil" id="imageCard"
                        class="img-thumbnail rounded-circle " 
                        max-width="100" cardImage></a>

                  <!--<a href="/monthly"><img src={{urlLink}} alt="image de profil" class="img-fluid rounded-circle"></a>
                 -->
                  <!-- <form class="md-form">
                     <div class="file-field"> -->
                        <!--<img src = {{urlLink}} class=" img-fluid rounded-circle" alt="example placeholder avatar">-->
                        <!-- <div class="d-flex justify-content-center">
                        <div class="btn btn-mdb-color btn-rounded float-left form-group">
                        <input type="file" class="bg-info ">
                        <mat-icon class="btn">add_a_photo</mat-icon>
                      </div>
                  
                    </div>-->
                     <!-- </div>
                  </form> -->

               </div>
               <div class="col-6 card-title align-self-center mb-0 ">
                  <h2 class="text-truncate">{{child?.lastname | titlecase}} </h2>
                  <h4 class="text-truncate">{{child?.firstname | titlecase }}</h4>
                  <p class="m-0 fs-6"><i class="fa fa-birthday-cake float-right ml-2"></i>{{child?.birthDate}}</p>
               </div>
            </div>
            <ul class="list-group list-group-flush px-1">
               <li class="list-group-item font-italic" id="year-home-card">
                  <strong> Année {{currentYear}}: </strong>
               </li>
               <li class="list-group-item font-italic">
                  <i class="fa fa-money float-right "></i>
                   Salaire Imposable: 
                   {{child?.taxableSalary | currency: 'EUR'}}
               </li>
               <li class="list-group-item font-italic ">
                  <i class="fa fa-money float-right"></i>
                   Abatement Fiscal:
                  {{child?.taxRelief | currency: 'EUR'}}
               </li>
               <li class="list-group-item font-italic bg-light-pink rounded">
                  <i class="fa fa-money float-right"></i>
                  Somme à déclarer: 
                  {{child?.reportableAmounts | currency: 'EUR'}}
               </li>
            </ul>
            <div class="card-body">
               <div class="float-left d-print-none">
                  <a class="btn" data-md-tooltip="Details" data-placement="top" data-original-title="details">
                     <mat-icon class="material-icons fs-5 color-pink" [routerLink]="['/child/details/', child.id]">info
                     </mat-icon>
                  </a>
               </div>
               <div class="float-right d-print-none">
                  <a (click)="onOpenModel(child,'edit')" 
                     class="btn" data-md-tooltip="Editer" data-placement="top"
                     data-original-title="Edit">
                     <i class="fa fa-pencil color-pink"></i>
                  </a>
                  <a (click)="onOpenModel(child,'delete')" 
                     class="btn" data-md-tooltip="Supprimer" 
                     data-placement="top"
                     data-original-title="Delete">
                     <i class="fa fa-trash" style="color: rgb(117, 107, 107);"></i>
                  </a>
               </div>
            </div>
         </div>
      </div>
      <div class="row mx-1 pl-3 pt-2">
         <pagination-controls (pageChange)="page = $event" previousLabel="Précedent" nextLabel="Suivant"
             [autoHide]="true" [responsive]="true" class="fs-6 text-center text-info my-pagination">
         </pagination-controls>
     </div>

   </div>
   <!-- Main container end -->

   <!-- Add Monthly Modal -->
   <div class="modal fade" id="addMonthlyModal" tabindex="-1" role="dialog" aria-labelledby="addMonthlyModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
         <div class="modal-content">
            <div class="modal-header bg-danger bg-gradient text-light">
               <h2 class="modal-title" id="addMonthlyModalLabel">Ajouter Déclaration Mensuelle:
                  {{addMonthlyChild?.lastname | titlecase}} {{addMonthlyChild?.firstname | titlecase}}</h2>
               <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
               </button>
            </div>
            <div class="modal-body">
               <form novalidate (ngSubmit)="onAddMonthly()" [formGroup]="addMonthlyForm">
                  <div class="form-group row">
                     <div class="col-6">
                        <label for="month">Mois</label>
                        <select class="form-select form-group mb-0" 
                           aria-label="MonthSelect" 
                           id="month"
                           formControlName="month" 
                           [ngClass]="{'is-invalid':(addMonthlyForm.get('month')?.touched && addMonthlyForm.get('month')?.pristine),
                                 'is-valid': addMonthlyForm.get('month')?.valid}">
                              <option *ngFor="let month of this.calculAbatementMonthlyComponent.months" [ngValue]="month"
                                 name="monthSelected" id="monthSelected">{{month}}
                              </option>
                        </select>
                        <div *ngIf="addMonthlyForm.get('month')?.pristine && addMonthlyForm.get('month')?.invalid"
                           class="invalid-feedback pl-1 p-0">
                           <span>Selectionner le mois</span>
                        </div>
                     </div>
                     <div class="col-6">
                        <label for="year">Année</label>
                        <input type="text" 
                           ng-pattern="/0-9/" class="form-control" 
                           id="year" placeholder="2022" 
                           formControlName="year"
                           [ngClass]="{'is-invalid': addMonthlyForm.get('year')?.dirty 
                              && addMonthlyForm.get('year')?.invalid,
                                       'is-valid':addMonthlyForm.get('year')?.valid
                           }"/>

                        <div class="invalid-feedback pl-1">
                            <span>{{errorsValidation}}</span>
                        </div>
                     </div>
                  </div>
                  <div class="form-group row d-flex align-items-end">
                     <div class="col-6">
                        <label for="taxableSalary">Salaire Imposable(frais entretiens inclus)</label>
                        <input type="number"  name="taxableSalary"
                           class="form-control" id="taxableSalary" placeholder="650.20 €" 
                           formControlName="taxableSalary"
                           [ngClass]="{'is-invalid': addMonthlyForm.get('taxableSalary')?.dirty 
                              && addMonthlyForm.get('taxableSalary')?.invalid,
                           'is-valid': addMonthlyForm.get('taxableSalary')?.dirty 
                              && addMonthlyForm.get('taxableSalary')?.valid
                           }"/>

                        <div class="invalid-feedback pl-1">
                           <span>{{errorsValidation}}</span>
                        </div>
                     </div>
                     <div class="col-6">
                        <label for="calcul-taxable-salary-sibling-form" 
                           class="d-inline-block text-truncate">Salaire
                           Imposable Fraterie</label>
                        <button (click)="onOpenModel(null,'taxableSalarySibling')" type="button"
                           id="calcul-taxable-salary-sibling-form"
                           class="btn btn-danger d-inline-block text-truncate m-0" 
                           data-toggle="modal">Calculer
                        </button>
                     </div>
                  </div>
                  <div class="form-group row">
                     <div class="col-6">
                        <label for="dayWorked">Jours (plus de 8h par jour)</label>
                        <input type="number"  class="form-control" id="dayWorked"
                           placeholder="20" 
                           formControlName="dayWorked"
                           [ngClass]="{'is-invalid':addMonthlyForm.get('dayWorked')?.dirty 
                              && addMonthlyForm.get('dayWorked')?.invalid,
                           'is-valid': addMonthlyForm.get('dayWorked')?.dirty 
                              && addMonthlyForm.get('dayWorked')?.valid
                           }"/>

                        <div  class="invalid-feedback pl-1">
                           <span>{{errorsValidation}}</span>
                        </div>   
                     </div>
                     <div class="col-6">
                        <label for="hoursWorked">Heures (moins de 8h par jour)</label>
                        <input type="number"  name="hoursWorked" class="form-control" id="hoursWorked"
                           placeholder="8.00" 
                           formControlName="hoursWorked"
                           [ngClass]="{'is-invalid':addMonthlyForm.get('hoursWorked')?.dirty 
                              && addMonthlyForm.get('hoursWorked')?.invalid,
                           'is-valid': addMonthlyForm.get('hoursWorked')?.dirty 
                              && addMonthlyForm.get('hoursWorked')?.valid
                           }"/>

                        <div class="invalid-feedback pl-1">
                           <span>{{errorsValidation}}</span>
                        </div>
                     </div>
                  </div>
                  <div class="form-group row">
                     <div class="col-6">
                        <label for="lunch">Repas</label>
                        <input type="number" name="lunch" class="form-control" id="lunch" placeholder="20"
                           formControlName="lunch"
                           [ngClass]="{'is-invalid':addMonthlyForm.get('lunch')?.dirty 
                              &&  addMonthlyForm.get('lunch')?.invalid,
                           'is-valid': addMonthlyForm.get('lunch')?.dirty 
                              && addMonthlyForm.get('lunch')?.valid
                           }" />

                        <div class="invalid-feedback pl-1">
                              <span>{{errorsValidation}}</span>
                        </div>
                     </div>
                     <div class="col-6">
                        <label for="snack">Goûters</label>
                        <input type="number" name="snack" class="form-control" id="snack" placeholder="20"
                           formControlName="snack"
                           [ngClass]="{'is-invalid':addMonthlyForm.get('snack')?.dirty 
                              &&  addMonthlyForm.get('snack')?.invalid,
                           'is-valid': addMonthlyForm.get('snack')?.dirty 
                              && addMonthlyForm.get('snack')?.valid
                           }" />
                        <div class="invalid-feedback pl-1">
                              <span>{{errorsValidation}}</span>
                        </div>
                     </div>
                  </div>
                  <div class="modal-footer">
                     <button type="button" id="cancel-add-Monthly-form" 
                        class="btn btn-secondary"
                        data-dismiss="modal">Annuler</button>
                     <button [disabled]="addMonthlyForm.invalid" type="submit"
                        class="btn bg-danger text-light">Enregistrer</button>
                  </div>
               </form>
            </div>
         </div>
      </div>
   </div>
   <!-- Add Monthly Modal end -->

   <!-- Calculate Taxable Salary Sibling Modal -->
   <div class="modal fade" id="taxableSalarySiblingModal" tabindex="-1" role="dialog"
      aria-labelledby="taxableSalarySiblingModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
         <div class="modal-content">
            <div class="modal-header bg-gradient text-light" style="background-color: rgba(206, 50, 50, 0.856);">
               <h2 class="modal-title" id="taxableSalarySiblingModalLabel">Calculer Salaire Imposable net (cas fraterie)
               </h2>
               <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close"
                  style="background-color: rgba(206, 50, 50, 0.856);">
                  <span aria-hidden="true">&times;</span>
               </button>
            </div>
            <div class="modal-body">
               <form novalidate [formGroup]="taxableSalarySiblingForm"
                  (ngSubmit)="onCalculateTaxableSalarySibling()">
                  <div class="form-group row">
                     <div class="col-4">
                        <label for="netSalary" class="d-inline-block text-truncate">Salaire net</label>
                        <input type="number" 
                           class="form-control" id="netSalary"
                           placeholder="600.20€"
                           formControlName="netSalary" 
                           [ngClass]="{'is-invalid':(taxableSalarySiblingForm.get('netSalary')?.dirty || taxableSalarySiblingForm.get('netSalary')?.touched)  &&  taxableSalarySiblingForm.get('netSalary')?.invalid,
                              'is-valid': taxableSalarySiblingForm.get('netSalary')?.dirty && taxableSalarySiblingForm.get('netSalary')?.valid
                           }" />
                          
                        <div class="invalid-feedback pl-1">
                           <span>{{errorsValidation}}</span>
                        </div>
                     </div>
                     <div class="col-4">
                        <label for="maintenanceCost" class="d-inline-block text-truncate">Frais Entretiens</label>
                        <input type="number" 
                           class="form-control" 
                           id="maintenanceCost"
                           placeholder="30.50€"
                           formControlName="maintenanceCost" 
                           [ngClass]="{'is-invalid':(taxableSalarySiblingForm.get('maintenanceCost')?.dirty || taxableSalarySiblingForm.get('maintenanceCost')?.touched)  
                              &&  taxableSalarySiblingForm.get('maintenanceCost')?.invalid,
                              'is-valid': taxableSalarySiblingForm.get('maintenanceCost')?.dirty && taxableSalarySiblingForm.get('maintenanceCost')?.valid
                           }" />

                        <div class="invalid-feedback pl-1">
                           <span>{{errorsValidation}}</span>
                        </div>
                     </div>
                     <div class="col-4">
                        <label for="netBrutCoefficient" class="d-inline-block text-truncate">Coeff. net/brut</label>
                        <input type="number" 
                           class="form-control"
                           id="netBrutCoefficient" 
                           placeholder="0.7001"
                           formControlName="netBrutCoefficient" 
                           [ngClass]="{'is-invalid':(taxableSalarySiblingForm.get('netBrutCoefficient')?.dirty || taxableSalarySiblingForm.get('netBrutCoefficient')?.touched) 
                               &&  taxableSalarySiblingForm.get('netBrutCoefficient')?.invalid,
                              'is-valid': taxableSalarySiblingForm.get('netBrutCoefficient')?.dirty && taxableSalarySiblingForm.get('netBrutCoefficient')?.valid
                           }" />

                        <div *ngIf="!taxableSalarySiblingForm.get('netBrutCoefficient')?.hasError('pattern')" 
                           class="invalid-feedback pl-1">
                           <span>{{errorsValidation}}</span>
                        </div>
                        <div *ngIf="taxableSalarySiblingForm.get('netBrutCoefficient')?.hasError('pattern')"
                           class="invalid-feedback pl-1">
                           <span>Format du champ incorrect (0.7801)</span>
                        </div>
                     </div>
                  </div>

                  <div class="modal-footer">
                     <button type="button" 
                        id="cancel-taxable-salary-sibling-form"
                        class="btn btn-secondary"
                        data-dismiss="modal">Annuler</button>
                     <button [disabled]="taxableSalarySiblingForm.invalid" 
                        type="submit"
                        class="btn btn-danger">Enregistrer
                     </button>
                  </div>
               </form>
            </div>
         </div>
      </div>
   </div>
   <!-- Calculate Taxable Salary Sibling Modal -->

   <!-- Edit Child Modal -->
   <div class="modal fade" id="updateChildModal" tabindex="-1" role="dialog" aria-labelledby="updateChildModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
         <div class="modal-content">
            <div class="modal-header bg-danger bg-gradient text-light">
               <h2 class="modal-title" id="updateChildModalLabel">Editer un Enfant: {{editChild?.lastname | titlecase}}
                  {{editChild?.firstname | titlecase}}</h2>
               <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
               </button>
            </div>
            <div class="modal-body">
               <form novalidate [formGroup]="editChildForm">
                  <div class="form-group">
                     <label for="lastname">Nom</label>
                     <input type="text" 
                        class="form-control" 
                        id="lastname" placeholder="Nom"
                        class="form-control" 
                        formControlName="lastname"
                        [ngClass]="{'is-invalid': editChildForm.get('lastname')?.dirty 
                           && editChildForm.get('lastname')?.invalid,
                                    'is-valid': editChildForm.get('lastname')?.touched 
                                    && editChildForm.get('lastname')?.valid
                        }"/>
   
                     <div *ngIf="editChildForm.get('lastname')?.hasError('required')" 
                        class="invalid-feedback pl-1">
                        <span>{{errorsValidation}}</span>
                     </div>
                     <div *ngIf="editChildForm.get('lastname')?.hasError('minlength')" 
                        class="invalid-feedback pl-1">
                        <span>Saisir 2 caractères min</span>
                     </div>
                     <div *ngIf="editChildForm.get('lastname')?.hasError('maxlength')" 
                        class="invalid-feedback pl-1">
                        <span>Saisir 30 caractères max</span>
                     </div>
                     <div *ngIf="editChildForm.get('lastname')?.hasError('pattern')" class="invalid-feedback pl-1">
                        <span>Ce champs accepte uniquement des lettres</span>
                     </div>
                  </div>
                  <div class="form-group">
                     <label for="firstname">Prénom</label>
                     <input type="text" 
                        class="form-control" id="firstname"
                        placeholder="Prénom"
                        formControlName="firstname"
                        [ngClass]="{'is-invalid': editChildForm.get('firstname')?.dirty 
                           && editChildForm.get('firstname')?.invalid,
                                    'is-valid': editChildForm.get('firstname')?.touched 
                                       && editChildForm.get('firstname')?.valid
                        }"/>

                     <div *ngIf="editChildForm.get('firstname')?.hasError('required')" 
                         class="invalid-feedback pl-1">
                         <span>{{errorsValidation}}</span>
                     </div>
                     <div *ngIf="editChildForm.get('firstname')?.hasError('minlength')" 
                        class="invalid-feedback pl-1">
                        <span>Saisir 2 caractères min</span>
                     </div>
                     <div *ngIf="editChildForm.get('firstname')?.hasError('maxlength')" 
                        class="invalid-feedback pl-1">
                        <span>Saisir 30 caractères max</span>
                     </div>
                     <div *ngIf="editChildForm.get('firstname')?.hasError('pattern')" 
                        class="invalid-feedback pl-1">
                        <span>Ce champs accepte uniquement des lettres</span>
                     </div>
               </div>
               <div class="form-group">
                  <label for="birthDate">Date de naissance</label>
                  <input type="text" 
                     class="form-control" id="birthDate"
                     placeholder="17/09/2000"
                     formControlName="birthDate"
                     [ngClass]="{'is-invalid': editChildForm.get('birthDate')?.dirty && editChildForm.get('birthDate')?.invalid,
                                 'is-valid': editChildForm.get('birthDate')?.touched && editChildForm.get('birthDate')?.valid
                     }"/>

                  <div *ngIf="editChildForm.get('birthDate')?.hasError('required')"
                     class="invalid-feedback pl-1">
                     <span>{{errorsValidation}}</span>
                  </div>
                  <div *ngIf="editChildForm.get('birthDate')?.hasError('pattern')" 
                     class="invalid-feedback pl-1">
                     <span>Date au format jj/MM/aaaa ou mois de 30 jours</span>
                  </div>
               </div>
               <div class="form-group row">
                  <div class="col-6">
                     <label for="beginContract">Début du Contrat</label>
                     <input type="text"
                        class="form-control" id="beginContract"
                        placeholder="01/09/2020"
                        formControlName="beginContract"
                        [ngClass]="{'is-invalid': (editChildForm.get('beginContract')?.dirty 
                        || editChildForm.get('beginContract')?.touched)
                           && editChildForm.get('beginContract')?.invalid,
                                    'is-valid': (editChildForm.get('beginContract')?.touched 
                                    || editChildForm.get('beginContract')?.dirty) 
                                    && editChildForm.get('beginContract')?.valid
                        }"/>
                     
                     <div *ngIf="editChildForm.get('beginContract')?.hasError('required')"
                        class="invalid-feedback pl-1">
                        <span>{{errorsValidation}}</span>
                     </div>
                     <div *ngIf="editChildForm.get('beginContract')?.hasError('pattern')" 
                        class="invalid-feedback pl-1">
                        <span>Date au format jj/MM/aaaa ou mois de 30 jours</span>
                     </div>
                  </div>
                  <div class="col-6">
                     <label for="endContract">Fin du Contrat</label>
                     <input type="text"
                        class="form-control" id="endContract"
                        placeholder="01/09/2020"
                        formControlName="endContract"
                        [ngClass]="{'is-invalid': editChildForm.get('endContract')?.dirty && editChildForm.get('endContract')?.invalid,
                                    'is-valid': editChildForm.get('endContract')?.dirty && editChildForm.get('endContract')?.valid
                        }"/>

                     <div *ngIf="editChildForm.get('endContract')?.hasError('pattern')" 
                        class="invalid-feedback pl-1">
                        <span>Date au format jj/MM/aaaa ou mois de 30 jours</span>
                     </div>
                  </div>
               </div>
               <div class="form-group row">
                  <div class="col-6">
                     <label for="feesLunch" class="d-inline-block text-truncate">Tarif Repas</label>
                     <input type="number" 
                        class="form-control" id="feesLunch"
                        placeholder="2.00€" 
                        formControlName="feesLunch"
                        [ngClass]="{'is-invalid': editChildForm.get('feesLunch')?.dirty && editChildForm.get('feesLunch')?.invalid,
                                    'is-valid': editChildForm.get('feesLunch')?.touched && editChildForm.get('feesLunch')?.valid
                        }"/>

                     <div *ngIf="editChildForm.get('feesLunch')?.hasError('min')" 
                        class="invalid-feedback pl-1">
                        <span>Ce champs ne peut être infèrieur à 0</span>
                     </div>
                     <div *ngIf="editChildForm.get('feesLunch')?.hasError('max')" 
                        class="invalid-feedback pl-1">
                        <span>Ce champs ne peut être supèrieur à 50</span>
                     </div>
                  </div>
                  <div class="col-6">
                     <label for="feesSnack" class="d-inline-block text-truncate">Tarif Goûter</label>
                     <input type="number" 
                        class="form-control" id="feesSnack"
                        placeholder="0.50€" 
                        formControlName="feesSnack"
                        [ngClass]="{'is-invalid': editChildForm.get('feesSnack')?.dirty && (editChildForm.get('feesSnack')?.invalid),
                                    'is-valid': editChildForm.get('feesSnack')?.touched && editChildForm.get('feesSnack')?.valid
                        }"/>

                     <div *ngIf="editChildForm.get('feesSnack')?.hasError('min')" 
                        class="invalid-feedback pl-1">
                        <span>Ce champs ne peut être infèrieur à 0</span>
                     </div>
                     <div *ngIf="editChildForm.get('feesSnack')?.hasError('max')" 
                        class="invalid-feedback pl-1">
                        <span>Ce champs ne peut être supèrieur à 50</span>
                     </div>
                  </div>
               </div>
               <div class="form-group">
                  <label for="imageUrl">Image URL</label>
                  <input type="url" 
                     class="form-control" id="imageUrl"
                     placeholder="Image URL" 
                     formControlName="imageUrl"
                     [ngClass]="{'is-invalid': editChildForm.get('imageUrl')?.dirty && editChildForm.get('imageUrl')?.invalid,
                                 'is-valid': editChildForm.get('imageUrl')?.touched && editChildForm.get('imageUrl')?.valid
                     }"/>
               <div *ngIf="editChildForm.get('imageUrl')?.hasError('required')" class="invalid-feedback pl-1">
                  <span>{{errorsValidation}}</span>
               </div>
               <div *ngIf="editChildForm.get('imageUrl')?.hasError('pattern')" 
                  class="invalid-feedback pl-1">
                  <span>L'URL doit commencé par http://</span>
               </div>
               </div>
               <div class="modal-footer">
                  <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Annuler</button>
                  <button data-dismiss="modal" class="btn btn-danger"
                     (click)="onUpdateChild()">Enregistrer</button>
               </div>
            </form>
            </div>
         </div>
      </div>
   </div>
   <!-- Edit Child Modal end -->

   <!-- Delete Child Modal -->
   <div class="modal fade" id="deleteChildModal" tabindex="-1" role="dialog" aria-labelledby="deleteChildModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
         <div class="modal-content">
            <div class="modal-header bg-danger bg-gradient text-light">
               <h2 class="modal-title" 
                  id="deleteChildModalLabel">Supprimer un Enfant
               </h2>
               <button type="button" class="close text-light"
                   data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
               </button>
            </div>
            <div class="modal-body">
               <p>Etes-vous vraiment sûr de vouloir supprimer l'enfant {{deleteChild?.lastname | titlecase}}
                  {{deleteChild?.firstname | titlecase}}? </p>
               <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" 
                     data-dismiss="modal">Non</button>
                  <button (click)="onDeleteChild(deleteChild.id)" 
                     class="btn btn-danger"
                     data-dismiss="modal">Oui</button>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- Delete Child Modal end -->

   <!-- Modal to display annual summary-->
   <div class="modal fade px-4" id="summaryModal" tabindex="-1" role="dialog" aria-labelledby="summaryModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
         <div class="modal-content">
            <div class="modal-header bg-danger text-light bg-gradient">
               <h2 class="modal-title" id="summaryModalLabel">Rapport Annuel Total</h2>
               <button type="button" class="close text-light" data-bs-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
               </button>
            </div>
            <div class="modal-body px-5" id="print-modal-body">
               <div
                  class="col-xl-1 col-lg-1 col-md-2 col-sm-3 col-4 rounded-circle bg-light-pink bg-gradient shadow d-none d-print-block"
                  id="logo">
                  <a class="navbar-brand" href="#">
                     <img src="./assets/logoAppAssMat.png" class="img-fluid ml-2" />
                  </a>
               </div>
               <div class="row justify-content-center mb-3" id="list-children-title">
                  <h2 class="col-6 shadow d-none d-print-block font-italic rounded-pill text-center">Déclaration
                     Annuelle Total</h2>
               </div>
               <form #summaryByYearForm="ngForm">
                  <div class="mb-3 row pr-2">
                     <label class="col-sm-5 col-form-label" for="summaryYear">Année</label>
                     <div class="col-sm-6 ">
                        <input type="text" 
                           ngModel="{{yearPrecedingCurrentYear}}" 
                           name="summaryYear"
                           class="form-control pl-2" id="summaryYear" 
                           placeholder="2022"
                           maxlength="4"
                           pattern="[0-9]{4}"
                           class="form-control pl-2"
                           ngModel id="year" placeholder="Année" 
                           required 
                           #summaryYearVar="ngModel" 
                           [ngClass]="{'is-invalid' : (summaryYearVar?.touched || summaryYearVar?.dirty) 
                               && !summaryYearVar?.valid,
                                       'is-valid'  : summaryYearVar?.valid
                           }"/>

                        <div *ngIf="summaryYearVar?.hasError('required')"
                              class=" invalid-feedback pl-1">
                              <span>Champ requis</span>
                        </div>
                        <div *ngIf="summaryYearVar?.hasError('maxlength')"
                              class=" invalid-feedback pl-1">
                              <span>Maximum 4 caractères</span>
                        </div>
                        <div *ngIf="summaryYearVar?.hasError('pattern')"
                           class=" invalid-feedback pl-1">
                           <span>Entrer minimum 4 caractères des nombres uniquement</span>
                    </div>
                     </div>
                  </div>
                  <div class="mb-3 row">
                     <label for="sumTaxableSalary" 
                        class="col-sm-5 col-form-label">Salaire Imposable Total: </label>
                     <div class="col-sm-4 pl-4 pl-sm-3">
                        <input type="text" readonly 
                           class="form-control-plaintext" id="sumTaxableSalary"
                           value="{{sumTaxableSalary |  currency: 'EUR'}}">
                     </div>
                  </div>
                  <div class="mb-3 row">
                     <label for="sumTaxRelief" 
                        class="col-sm-5 col-form-label">Abatement Fiscal Total: </label>
                     <div class="col-sm-4 pl-4 pl-sm-3">
                        <input type="text" readonly 
                           class="form-control-plaintext" name="sumTaxRelief" id="sumTaxRelief"
                           value="{{sumTaxRelief |  currency: 'EUR'}}">
                     </div>
                  </div>
                  <div class="mb-3 row bg-light-pink font-weight-bold">
                     <label for="sumReportableAmounts" 
                        class="col-sm-5 col-form-label">Total à déclarer: </label>
                     <div class="col-sm-4 pl-4 pl-sm-3">
                        <input type="text" readonly 
                           class="form-control-plaintext font-weight-bold"
                           name="sumReportableAmounts" id="sumReportableAmounts"
                           value="{{sumReportableAmount |  currency: 'EUR'}}">
                     </div>
                  </div>

                  <div class="row modal-footer d-print-none justify-content-between pl-0 align-items-end">
                     <div class="col-5">
                        <button class="btn text-secondary pb-0" printTitle="Rapport Annuel" 
                           [useExistingCss]="true"
                           printSectionId="print-modal-body" ngxPrint>
                           <span class="material-icons fs-2 p-2 shadow rounded text-secondary">print</span>
                        </button>
                     </div>
                     <div class="col-5 d-flex justify-content-end">
                        <button type="button" class="btn btn-secondary mr-2" data-bs-dismiss="modal">Fermer</button>
                        <button (click)="onSummaryModal(summaryByYearForm.value.summaryYear)"
                           [disabled]="summaryByYearForm.invalid" id="calculate-summary-by-year-btn" type="button"
                           class="btn btn-danger">Calculer</button>
                     </div>
                  </div>
               </form>
            </div>
         </div>
      </div>
   </div>
   <!-- Modal to display annual summary end -->

   <!-- Notification for Child  error-->
   <div class="container">
      <div style="position: fixed; bottom: 0; right: 0;" 
            class="col-lg-12 col-md-12 col-xl-12 mt-5">
         <div  *ngIf="errorMsg || !children?.length" class="alert alert-warning" role="alert">
            <h4 class="alert-heading d-flex align-items-end mb-1">Une erreur est survenue!
               <span class=" material-icons color-gray ml-auto" (click)="hideError('errorMsg')">close</span>
            </h4>
            <p class="d-flex align-items-end">
               <span class="material-icons color-gray mr-2 color-red">error</span>
               {{errorMsg}}
            </p>
         </div>
         <div *ngIf="successMsg" class="alert alert-success" role="alert">
            <h4 class="alert-heading d-flex align-items-end mb-1">Opération réussie!
               <span class=" material-icons color-gray ml-auto" (click)="hideError('')">close</span>
            </h4>
            <p class="d-flex align-items-end">
               <span class="material-icons color-gray mr-2 text-success">done</span>
               {{successMsg}}
            </p>
         </div>
      </div>
   </div>
   <!-- Notification for Child  error end -->