   #AddMonthly:hover {
       color: rgb(150, 27, 88);
   }

   #taxableSalarySiblingModal {
       margin-top: 12%;
   }

   .bg-gray {
       background-color: #c0c0c0e6;
   }

   .bg-light-gray {
       background-color: #d9d6d647;
   }

   .bg-white-smoke {
       background-color: whitesmoke;
   }

   .avatar-pic {
       width: 150px;
   }

   #content {
       width: auto;
       height: auto;
   }

   img {
       height: 120px;
   }

   .my-pagination /deep/ .ngx-pagination .current {
       background: #d61626;
       border-radius: 50%;
   }