@import 'https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css';
@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    margin-top: 0px;
    background: #f5f5f5;
    padding: 2px;
}

.card {
    border: none;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);
    margin-bottom: 30px;
}

.w-100 {
    width: 100px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 10px;
    font-weight: 600;
}

.social-links li a {
    -webkit-border-radius: 50%;
    background-color: rgba(89, 206, 181, .85);
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: 30px;
    font-size: 12px;
}

a {
    color: #707070;
}

[data-md-tooltip] {
    position: relative;
}

[data-md-tooltip]:before {
    content: attr(data-md-tooltip);
    position: absolute;
    bottom: 25px;
    left: 50%;
    padding: 8px;
    transform: translateX(-50%) scale(0);
    transition: transform 0.3s ease-in-out;
    transform-origin: top;
    background: #b8b7b7e6;
    color: white;
    border-radius: 2px;
    font-size: 12px;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    z-index: 6;
}

[data-md-tooltip]:hover:before {
    transform: translateX(-50%) scale(1);
}

.bg-pink {
    background-color: rgb(187, 56, 121);
}

.bg-magenta {
    background-color: rgba(176, 48, 62, 0.8);
}

.bg-gray {
    background-color: #c0c0c0e6;
}

.bg-light-pink {
    background-color: #FFD8D8;
}

/*.color-magenta {
    background-color: rgb(176, 48, 62);
}*/

.color-pink {
    color: rgb(187, 56, 121);
}

.color-light-pink {
    color: #FFD8D8;
}


/*.bg-magenta {
    background-color: rgb(176, 48, 62);
}*/

.bg-light-magenta {
    background-color: rgba(176, 48, 62, 0.4);
}


@media print {
    body {
        padding: 2%;
    }

    #child-details-title>h2, #list-children-title>h2{
        border: 3px solid rgb(85, 176, 188);
        margin-bottom: 20px;
        padding: 5px;
        color:#707070;
    }
   

    table>thead>tr {
        border: 3px solid rgb(85, 176, 188);
        color: rgb(85, 176, 188);
        font-style: oblique;

    }

    tr>#table-td-month {
        border-left: 3px solid rgb(85, 176, 188);
        border-right: 3px solid rgb(85, 176, 188);
        color: gray;
        font-style: oblique;
        font-weight: 700;
    }

    table,
    td {
        border-right: 3px solid rgb(85, 176, 188);
    }

    tfoot>tr,
    #table-label-total-annuel {
        border: 3px solid rgb(85, 176, 188);
        color: rgb(85, 176, 188);
        font-weight: 700;
        font-style: oblique;
    }

    #summaryYear, form{
        font-size: x-large;
        border: none;
    }
    #content{
        width: 300px;
    }
   




}


html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    -webkit-print-color-adjust: exact !important;
}