 <!-- Navbar -->
 <nav class="navbar navbar-expand-lg navbar-dark bg-danger bg-gradient p-3">
    <a class="navbar-brand fs-3" style="color:white">Gestion Fiscale Assistante Maternelle</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
       <ul class="navbar-nav mr-auto">
         <li class="nav-item ">
            <a  class="nav-link" routerLink="home" routerLinkActive="active">Home <span class="sr-only">(current)</span></a>
         </li>
          <li class="nav-item ">
            <a class="nav-link" routerLink="monthly" routerLinkActive="active">Déclaration Mensuelle <span class="sr-only">(current)</span></a>
         </li>
      </ul>
       <!-- Form search -->
       <form class="form-inline my-2 my-lg-0">
          <input type="search" 
           name="key" id="searchName" class="form-control mr-sm-2" placeholder="" required>
       </form>
       <!-- Form search end -->
       <div>
         <span (click)="this.calculAbatementHomeComponent.onOpenModel(null,'add')" class="material-icons text-light pl-3 fs-3" data-md-tooltip="Ajouter Enfant">person_add</span>
       </div>
    </div>
  </nav>
  <!-- Navbar end -->


